@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');



body {
  font-family: Montserrat, sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.projects-container {
  display: flex;
  padding: 5vh 5vw;
}

.projects-container > * {
  flex: 1;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Our CSS */
#root {
  min-height: 100vh;
  background: linear-gradient(#ddd, #fff);
}

/* Letterdesign, original design from Michael MartinSmucker https://codepen.io/mlms13/pen/LKFoy */
.letter-wrapper {
  position: relative;
  z-index: 0;
}
.letter {
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin: 26px auto 0;
  min-height: 300px;
  padding: 3rem 2rem;
  position: relative;
}
.letter-addblock {
  min-width: 500px;
}

.letter-blockdetails {
min-width: 800px;
}

.letter:before, .letter:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.letter:before {
  background: #fafafa;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-2.5deg);
}
.letter:after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  right: -3px;
  top: 1px;
  transform: rotate(1.4deg);
}
/* end of letter */
/* Additional letter detail styling */
.questionmarker {
  background: url('questionmarkersquare.png');
  background-repeat: no-repeat;
background-size: 100% 100%;
padding: 1rem 1.4rem 1rem 2rem;
position: relative;
left: -6rem;
}
h2.questionmarker {
  text-align: left;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: bold;
  font-family: "Comic Sans Ms";
}

/* The idea postits */
.postit {
  margin:0;
  padding:0;
}
.postit ul,.postit li{
  list-style:none;
}
.postit ul li{
  text-decoration:none;
  display:block;
  width:10rem;
  padding:1rem;
  padding-bottom: 2rem;
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
  transition:-webkit-transform .15s linear;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.postit ul li section{
  text-decoration:none;
  color:#333;
  background:#ffc;
  display:block;
  height:10rem;
  width:10rem;
  padding:1rem;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
  transition:-webkit-transform .15s linear;
}
.postit ul li{
  margin:1rem;
  /*float:left;*/
}
.postit ul li h2{
  font-weight:bold;
  padding-bottom:1rem;
}
.postit ul li p{
  font-family: 'Kalam', cursive!important;
}
.postit ul li {
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform:rotate(-6deg);
  transform: rotate(-6deg);
}
.postit ul li section:hover, .postit ul li section:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);
  position:relative;
  z-index:5;
}

.postit ul li section {
  display: flex;
align-items: center;
justify-content: center;
}

.postit .username, 
.postit .date,
.card .username,
.card .date
{
  font-size: .8rem;
}

.postit ul li section a, .postit ul li section a:hover, .postit ul li section a:focus {
  color:#333;
  text-decoration: none;
}



/* AddBlock margin inside the letter */
.margin-addblock {
  margin-top: 50px;
}


/* nav bar elements*/
.home-padding {
  padding-left: 50px;
}

.nav-padding {
  padding-right: 50px;
}

nav {
  font: 'Cormorant Garamond', serif;
}

.nav a {
  color: #333;
  font-family: 'Montserrat','Cormorant Garamond', sans-serif;
  font-size: 30px;
}

.nav a:hover {
  text-decoration: none;
  color: rgba(51, 51, 51, 0.8);
}

.navbar-light .navbar-brand{
  border: 2px dotted #db901b;
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
  border: 2px dotted #333;
}



/* Changes to tinymce */
.tox-tinymce {
  width: 800px;
  margin: 0 auto;
  }


/* Idea selection */
.postit ul li.selectedidea  section{
  background-color: #ccf;
}
.selectedidea::before {
  content: '⭐';
}

/* Block Details page */
.letterrow {
  width: 860px;
}

section.addidea {
  margin-top: 3rem;
}

/* start page*/
.homewrapper {
max-width: 1200px;
margin: 3rem auto; }

/*Buttons color*/


.btn {
  background-color: #db901b;
  color: #333;
  border: 0px;
  margin: .4rem;
}


/* Size of main picture*/
.typewriter {
  width: 500px;
}

/* Size of Login/Signup fields*/
.registerField {
  width: 400px;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}

/* Override navbar color*/
.bg {
 background-color:#db901b;
}

/*Fonts*/
.cormorant {
  font-family: 'Cormorant Garamont', bold;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active, 
.btn-primary:visited,
.btn-primary:not(:disabled):not(.disabled):active {
  color:white;
  background-color:#895b11;
  border-color: #895b11;
}
.btn-primary:focus, 
.btn:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus {
   box-shadow: 0 0 0 0.2rem rgba(255,255,255, 0.7);
}

a {
  color: #333;
}

a:hover {
  color:white;
  text-decoration: none;
}

.userblocks .card a:hover {
  color: #895B11;
  font-weight: bold;
}

.editblock-title {
    width: 800px;
    margin: 0 auto;
    
}

/* Font-helper-functions */
.fancy {
  font-family: 'Cormorant Garamond', serif!important;
}
.plain {
  font-family: 'Montserrat', sans-serif!important;
}
.sketchy {
  font-family: 'Kalam', cursive!important;
}